.pageheader {
    background-color: #555;
    position: sticky;
    top: 0;
    width: 100%;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.horizontal li {
    float: left;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
    background-color: #444;
}

ul.horizontal li a.active {
    background-color:#04AA6D;
}





.nav-tabs {
	background-color: #333;
	margin-top: 1px;
	border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #fff;
	background-color: #555;
	border-bottom: 0px;
}

.nav-tabs>li>a {
	color: #999;
}