html {
    background-color: #555;
    color: #fff;
    font-size: 16px;
}

body {
    background-color: #555;
    color: #fff;
}

.version {
	float: right;
	padding: 14px 16px;
}

select {
    min-width: 90px;
    max-width: 120px;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #555;
    border-width: 2px;
    border-color: #555;
    border-top-color: #000;
    border-left-color: #000;
    padding: 2px;
}

select:hover {
    background-color: #444;
}

label {
    text-align: left;
}

button {
	color: #fff;
	background-color: #333;
	border-color: #666;
}

input[type=file] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #666;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	color: #fff;
	background-color: #333;
}

/* Remove numeric up/down arrows. Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Remove numeric up/down arrows. Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/* Inputs */
input[type=number], input[type=text] {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #555;
    border-color: #555;
    vertical-align: middle;
}

input[type=text].w300 {
	width: 300px;
}

input[type=checkbox] {
	width: 20px;
	height: 20px;
	margin: 2px;
    vertical-align: sub;
}

label > input[type=checkbox] {
	margin-right: 5px;
}

a > input[type=button] {
	background-color: transparent;
    border: none;
    margin-left: 5px;
}

input[type=datetime-local] {
	width: fit-content;
    text-align: center;
	color: #fff;
	background-color: #555;
    border-color: #555;
}

.hide {
	display: none;
}