html {
    background-color: #555;
    color: #fff;
    font-size: 16px;
}

body {
    background-color: #555;
    color: #fff;
}

select {
    min-width: 90px;
    max-width: 120px;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #555;
    border-color: #555;
}

select:hover {
    background-color: #444;
}

label {
    text-align: left;
}

/* Remove numeric up/down arrows. Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Remove numeric up/down arrows. Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/* Inputs */
input[type=number] {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #555;
    border-color: #555;
    vertical-align: middle;
}

input[type=checkbox] {
	width: 20px;
	height: 20px;
	margin: 2px;
    vertical-align: sub;
}

label > input[type=checkbox] {
	margin-right: 5px;
}

a > input[type=button] {
	background-color: transparent;
    border: none;
    margin-left: 5px;
}