.table {
    margin-top: 10px;
}

    .table th, .table td {
        padding: 5px;
    }

.table-dark {
    color: #fff;
    background-color: #333;
}

    .table-dark thead {
        background-color: #222;
    }